body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

div.message-info{
    background-color: var(--bg-info, rgba(205,222,255,1)) ;
    border: 1px solid lightgrey;
    margin-bottom: 6px;
    padding: 8px;
}
div.message-success{
    background-color:var(--bg-success, rgba(207,243,218,1));
    border: 1px solid lightgrey;
    margin-bottom: 6px;
    padding: 8px;
}
div.message-warning{
    background-color: var(--bg-warning, rgba(253,251,200,1));
    border: 1px solid lightgrey;
    margin-bottom: 6px;
    padding: 8px;
}
div.message-error{
    background-color:var(--bg-error, rgba(250,210,214,1));
    border: 1px solid lightgrey;
    margin-bottom: 6px;
    padding: 8px;

}

/*
bg-info, text-info, bg-success, text-success
 */
span.blue{
    color: var(--info-text,darkblue);
}
span.green{
    color:var(--success-text, darkgreen);
}
span.yellow{
    color: var(--warning-text,darkgoldenrod);
}
span.red{
    color:var(--error-text,darkred);
}